@model Bizminds.Models.PalindromeRequest
@{
    ViewBag.Title = "Index";
}

<div class="row col-sm-12">
    <div class="col-sm-12 col-md-6">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
        <div class="row form-group">
            @Html.LabelFor(Model => Model.Value, htmlAttributes: new { @class = "control-label col-md-3" })
            <div class="col-md-9">
                @Html.EditorFor(Model => Model.Value,
                                            new { htmlAttributes = new { @class = "form-control", placeholder = "Palindrome"} })
                 @Html.ValidationMessageFor(Model => Model.Value, "", new { @class = "text-danger" })
            </div>
        </div>
            <div class="row form-group">
                <div class=" col-md-offset-3 col-md-9">
                    <button class="btn-primary text-center" id="btnPalindrome">Check For Palindrome</button>

                    <div class="spinner-border" role="status" style="display:none">
                        <span class="sr-only">Loading...</span>
                    </div>
                </div>
            </div>
            <div class="row form-group">
                <div class="result  col-md-offset-3 col-md-9">

                </div>
                
            </div>
        }
    </div>
</div>

@section scripts{

    <script src="~/Scripts/palindrome.js"></script>
}