@model Bizminds.Models.AgeCalculatorRequest
@{
    ViewBag.Title = "Age";
}

<div class="row col-sm-12">
    <div class="col-sm-12 col-md-6">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            <div class="row form-group">
                @Html.LabelFor(Model => Model.DateOfBirth, htmlAttributes: new { @class = "control-label col-md-3" })

                <div class="col-md-9">
                    @Html.EditorFor(Model => Model.DateOfBirth, new { htmlAttributes = new { @class = "form-control", placeholder = "Date Of Birth", @readonly = "true" } })
                    @Html.ValidationMessageFor(Model => Model.DateOfBirth, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="row form-group">
                <div class=" col-md-offset-3 col-md-9">
                    <button class="btn-primary text-center" id="btnAge">Get Age</button>

                    <div class="spinner-border" role="status" style="display:none">
                        <span class="sr-only">Loading...</span>
                    </div>
                </div>
            </div>
            <div class="row result text-success text-center">
                <div class=""></div>
            </div>
        }
    </div>
</div>

@section scripts{
    
    <script src="~/Scripts/age.js"></script>
}